{% extends 'base.html' %}
{%block content%}
<form method="GET">
    {% csrf_token %}
    <label for="datee">Date:</label>
    <input type="date" id="datee" name="datee">
    <input type="submit">
</form><br>
  {% if dat %}
    <h1>{{dat}}</h1>
  {% endif %} 
  {% if d %} 
  <div class="container"> 
    <table class="table table-dark table-striped"> 
        <thead> 
        <tr> 
            <th scope="col">Timestamp</th>
            <th scope="col">Close</th>
            <th scope="col">EMAV(34)</th>
            <th scope="col">Signal</th>
            <th scope="col">MACD(13,5,5)</th>
            <th scope="col">RSI</th>
            <th scope="col">EMAV(RSI,13)</th>
            <!-- <th scope="col">Alert</th> -->
        </tr> 
        </thead> 
        <tbody> 
          
          {% for i in d %} 
            <tr>
                <td>{{i.Timestamp}}</td> 
                    <td>{{i.Close}}</td> 
                    <td>{{i.EMAV}}</td> 
                    <td>{{i.Signal}}</td> 
                    <td>{{i.MACD13}}</td> 
                    <td>{{i.RSI14}}</td> 
                    <td>{{i.EMAVRSI13}}</td>
                    <!-- <td>{{i.Alert}}</td> -->
            </tr>
        {% endfor %} 
        {% endif %} 
        </tbody> 
    </table> 
    </div> 

{%endblock%}