{% extends 'base.html' %}

{% block content %}


<div class="container"
  <form method="POST">
    {% csrf_token %}

    <div class="from-group">
    <label for="first_name">
    <input type="text" id="fisrt_name" class="from-group" name="fisrtname">
    </div>

    <div class="from-group">
      <label for="last_name">
      <input type="text" id="last_name" class="from-group" name="lastname">
    </div>
    
    <div class="from-group">
      <label for="email">
      <input type="text" id="email" class="from-group" name="email">
    </div>

    <div class="from-group">
      <label for="password">
      <input type="password" id="password" class="from-group" name="password">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock content %}